version: "3.9"

services:
  db:
    image: postgres:15-alpine
    container_name: oroshine_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${PG_DB}
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - oroshine_net
    deploy:
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 128M
    command: >
      postgres
      -c shared_buffers=64MB
      -c effective_cache_size=128MB
      -c maintenance_work_mem=32MB
      -c max_connections=50

  redis:
    image: redis:7-alpine
    container_name: oroshine_redis
    restart: unless-stopped
    command: >
      redis-server
      --requirepass ${REDIS_PASSWORD}
      --maxmemory 64mb
      --maxmemory-policy allkeys-lru
      --save ""
      --appendonly no
    networks:
      - oroshine_net
    deploy:
      resources:
        limits:
          memory: 128M
        reservations:
          memory: 64M

  web:
    image: nikhil2523/oroshine:latest
    container_name: oroshine_web
    restart: unless-stopped
    env_file: .env
    depends_on:
      - db
      - redis
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    networks:
      - oroshine_net
    deploy:
      resources:
        limits:
          memory: 384M
        reservations:
          memory: 256M

  celery_worker:
    image: nikhil2523/oroshine:latest
    container_name: oroshine_celery_worker
    restart: unless-stopped
    env_file: .env
    depends_on:
      - web
      - redis
    command: celery -A oroshine_app worker --loglevel=warning --concurrency=1 --max-tasks-per-child=100
    networks:
      - oroshine_net
    deploy:
      resources:
        limits:
          memory: 128M
        reservations:
          memory: 64M

  celery_beat:
    image: nikhil2523/oroshine:latest
    container_name: oroshine_celery_beat
    restart: unless-stopped
    env_file: .env
    depends_on:
      - web
      - redis
    command: celery -A oroshine_app beat --loglevel=warning --scheduler django_celery_beat.schedulers:DatabaseScheduler
    networks:
      - oroshine_net
    deploy:
      resources:
        limits:
          memory: 64M
        reservations:
          memory: 32M

  nginx:
    image: nginx:1.25-alpine
    container_name: oroshine_nginx
    restart: unless-stopped
    depends_on:
      - web
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/robots.txt:/usr/share/nginx/html/robots.txt:ro
      - static_volume:/app/staticfiles:ro
      - media_volume:/app/media:ro
    networks:
      - oroshine_net
    deploy:
      resources:
        limits:
          memory: 64M
        reservations:
          memory: 32M

volumes:
  postgres_data:
  static_volume:
  media_volume:

networks:
  oroshine_net:
    driver: bridge