version: "3.9"

services:
  web:
    image: nikhil2523/oroshine:latest
    container_name: oroshine_web
    restart: always
    env_file: .env
    depends_on:
      - db
      - redis
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - "8000"

  db:
    image: postgres:15
    container_name: oroshine_db
    restart: always
    env_file: .env
    environment:
      POSTGRES_PASSWORD: ${PG_PASSWORD}   # ensure password is passed correctly
      POSTGRES_USER: ${PG_USER}           # optional but good to define
      POSTGRES_DB: ${PG_DB}               # optional, will create DB
    volumes:
      - postgres_data:/var/lib/postgresql/data
    expose:
      - "5432"

  redis:
    image: redis:7-alpine
    container_name: oroshine_redis
    restart: always
    command: redis-server --requirepass "${REDIS_PASSWORD}"  # use password if set
    expose:
      - "6379"

  celery:
    image: nikhil2523/oroshine:latest
    container_name: oroshine_celery
    command: celery -A oroshine_app worker -l info
    restart: always
    env_file: .env
    depends_on:
      - redis
      - db

  celery-beat:
    image: nikhil2523/oroshine:latest
    container_name: oroshine_celery_beat
    command: celery -A oroshine_app beat -l info
    restart: always
    env_file: .env
    depends_on:
      - redis
      - db

  nginx:
    image: nginx:alpine
    container_name: oroshine_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - web

volumes:
  postgres_data:
  static_volume:
  media_volume:
