services:
  web:
    build: .
    container_name: oroshine_web
    command: ./entrypoint.sh
    env_file: .env.prod
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    depends_on:
      - db
      - redis

  db:
    image: postgres:16
    container_name: oroshine_db
    restart: always
    env_file: .env
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: oroshine_redis
    restart: always

  celery:
    build: .
    container_name: oroshine_celery
    command: celery -A oroshine_app worker -l info
    env_file: .env.prod
    depends_on:
      - redis
      - db

  celery_beat:
    build: .
    container_name: oroshine_celery_beat
    command: celery -A oroshine_app beat -l info
    env_file: .env.prod
    depends_on:
      - redis
      - db

  nginx:
    image: nginx:latest
    container_name: oroshine_nginx
    ports:
      - "80:80"
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

volumes:
  pgdata:
  static_volume:
  media_volume:
