services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ${PG_DB}
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - oroshine_net

  redis:
    image: redis:7-alpine
    command: redis-server --requirepass ${REDIS_PASSWORD}
    networks:
      - oroshine_net

  web:
    image: nikhil2523/oroshine:latest
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - db
      - redis
    networks:
      - oroshine_net

  celery_worker:
    image: nikhil2523/oroshine:latest
    env_file:
      - .env
    depends_on:
      - redis
    command: celery -A oroshine_app worker --loglevel=info --concurrency=2
    networks:
      - oroshine_net

  celery_beat:
    image: nikhil2523/oroshine:latest
    env_file:
      - .env
    depends_on:
      - redis
    command: celery -A oroshine_app beat --loglevel=info
    networks:
      - oroshine_net

  nginx:
    image: nginx:1.25-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/app/staticfiles:ro
      - media_volume:/app/media:ro
    depends_on:
      - web
    networks:
      - oroshine_net

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    networks:
      - oroshine_net

  grafana:
    image: grafana/grafana:latest
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    networks:
      - oroshine_net
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  postgres_data:
  static_volume:
  media_volume:
  grafana_data:

networks:
  oroshine_net:
    driver: bridge
