version: "3.9"

services:
  web:
    image: nikhil2523/oroshine:latest
    container_name: oroshine_web
    restart: unless-stopped
    env_file: .env
    depends_on:
      - db
      - redis
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - "8000"
    deploy:
      resources:
        limits:
          memory: 256M

  db:
    image: postgres:15-alpine
    container_name: oroshine_db
    restart: unless-stopped
    env_file: .env
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    expose:
      - "5432"
    deploy:
      resources:
        limits:
          memory: 256M

  redis:
    image: redis:7-alpine
    container_name: oroshine_redis
    restart: unless-stopped
    command: >
      redis-server
      --requirepass ${REDIS_PASSWORD}
      --maxmemory 64mb
      --maxmemory-policy allkeys-lru
    expose:
      - "6379"
    deploy:
      resources:
        limits:
          memory: 96M

  celery:
    image: nikhil2523/oroshine:latest
    container_name: oroshine_celery
    command: celery -A oroshine_app worker -l info --concurrency=1
    restart: unless-stopped
    env_file: .env
    depends_on:
      - redis
      - db
    deploy:
      resources:
        limits:
          memory: 256M

  celery-beat:
    image: nikhil2523/oroshine:latest
    container_name: oroshine_celery_beat
    command: celery -A oroshine_app beat -l info
    restart: unless-stopped
    env_file: .env
    depends_on:
      - redis
      - db
    deploy:
      resources:
        limits:
          memory: 96M

  nginx:
    image: nginx:alpine
    container_name: oroshine_nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - web
    deploy:
      resources:
        limits:
          memory: 64M

volumes:
  postgres_data:
  static_volume:
  media_volume:
