name: Deploy Django App

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: nikhil2523/oroshine:latest,nikhil2523/oroshine:${{ github.sha }}

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: SSH to EC2 and Deploy
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd ~/oroshine_project  # path on EC2 where repo is
            git reset --hard
            git pull origin main
            docker pull nikhil2523/oroshine:latest
            docker compose down
            docker compose up -d
