name: Deploy OroShine Dental App

on:
  push:
    branches:
      - master

jobs:

  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./oroshine_app
          file: ./oroshine_app/Dockerfile
          push: true
          tags: |
            nikhil2523/oroshine:latest
            nikhil2523/oroshine:${{ github.sha }}
          cache-from: type=registry,ref=nikhil2523/oroshine:latest
          cache-to: type=inline

  deploy:
    name: Deploy to EC2
    needs: build
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Copy files to project directory
        run: |
          mkdir -p ~/oroshine_project
          cp docker-compose.prod.yml ~/oroshine_project/
          cp -r nginx ~/oroshine_pr_
