name: Deploy Django App

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: nikhil2523/oroshine:latest,nikhil2523/oroshine:${{ github.sha }}

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Pull latest image and deploy
        run: |
          cd ~/oroshine_project
          docker pull nikhil2523/oroshine:latest
          docker compose -f docker-compose.prod.yaml down
          docker compose -f docker-compose.prod.yaml up -d --remove-orphans
          docker image prune -f